/*   
- Color Palette - 
 #3c423f black 
 #0c6f40 dark green 
 #66c144 green 
 #bbe4ac lime 
 #ffffff white 
*/

/* Main Container */
.main_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1024px;
  height: 768px;
  background-color: #3c423f;
}

/* Header */
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  background-color: #bbe4ac;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 2%;
  margin-top: 10px;
}

.logo svg {
  margin: 10px 20px;
  width: 50%;
}

/* navigation bar */
nav {
  position: absolute;
  top: 38%;
  right: 5%;
}

nav a {
  text-decoration: none;
  font-family: "Saira", sans-serif;
  font-size: 1.7rem;
  color: #3c423f;
  margin: 20px;
}

nav a:hover {
  color: #66c144;
}

/* Background */
.background {
  position: absolute;
  top: 14.2%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90.4%;
  height: auto;
}

/* About Text Box white-242, 242, 242,0.98*/
.about_text {
  background-color: #0c6f40;
  width: 400px;
  height: 500px;
  position: relative;
  left: 130px;
  top: 50px;
  border-radius: 25px;
  padding: 5px;
  border: 9px solid #3c423f;
}

/*Box Page Infor*/
h1 {
  font-family: "Aldrich", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  left: 150px;
}

h1:after {
  display: block;
  content: "";
  border-bottom: 1px solid #ffffff;
  border-bottom-width: 3px;
}

#expl_text {
  color: #ffffff;
  position: absolute;
  left: 20px;
  top: 50px;
  padding: 10px;
  font-family: "Aldrich", sans-serif;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.7;
}

/* Team Photos */

.team {
  font-family: "Aldrich", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 200px;
}

.jun {
  background-image: url("../imgs/jun.JPG");
  margin-left: 30px;
  float: left;
}

.laura {
  background-image: url("../imgs/laura.jpg");
  margin-right: 30px;
  float: right;
}

.user {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name {
  font-family: "Aldrich", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  top: 370px;
  left: 0;
  right: 0;
  color: #ffffff;
}

/*Github Link*/

.github_link {
  width: 180px;
  height: 35px;
  position: absolute;
  top: 78%;
  right: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  background-color: #ffffff;
  color: #3c423f;
  font-family: "Rajdhani", sans-serif;
  border: 3px solid #3c423f;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 600;
}

.github_link:hover {
  background-color: #66c144;
  color: #ffffff;
  cursor: pointer;
}

/* Flex */
.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Signs */
.signs {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 10%;
  left: 5%;
}

.signs img {
  width: 120px;
  height: auto;
}

.signs .plastic {
  margin-right: 50px;
}

/* Recycling bin */
.bins {
  position: absolute;
  top: 62.5%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px;
}

.bins img {
  width: 145px;
  height: auto;
}

#name {
  color: #66c144;
  font-weight: 900;
}

/* Mascot */
/* Mascot Animation */
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  10% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  10% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.mascot img {
  position: absolute;
  bottom: 0px;
  right: 70px;
  width: 33%;
}

.mascot #eyes {
  position: absolute;
  top: 495px;
  right: 257px;
  width: 5.5%;
  z-index: 99;
  -webkit-animation: eyes 0.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 1.5s backwards,
    blink 1.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 3s infinite backwards;
  animation: eyes 0.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 1.5s backwards,
    blink 1.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 3s infinite backwards;
}

footer {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: center;
  font-family: "Saira", sans-serif;
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
