/*   
- Color Palette - 
 #3c423f black 
 #0c6f40 dark green 
 #66c144 green 
 #bbe4ac lime 
 #ffffff white 
*/

/* Main Container */
.main_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1024px;
  height: 768px;
  background-color: #3c423f;
}

/* Header */
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  background-color: #bbe4ac;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 2%;
  margin-top: 10px;
}

.logo svg {
  margin: 10px 20px;
  width: 17%;
}

/* navigation bar */
nav {
  position: absolute;
  top: 38%;
  right: 5%;
}

nav a {
  text-decoration: none;
  font-family: "Saira", sans-serif;
  font-size: 1.7rem;
  color: #3c423f;
  margin: 20px;
}

nav a:hover {
  color: #66c144;
}

/* Background */
.background {
  position: absolute;
  top: 14.2%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90.4%;
  height: auto;
}

/* Flex */
.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Signs */
.signs {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 10%;
  left: 5%;
}

.signs img {
  width: 120px;
  height: auto;
}

.signs .plastic {
  margin-right: 50px;
}

/* Recycling bin */
.bins {
  position: absolute;
  top: 62.5%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px;
}

.bins img {
  width: 145px;
  height: auto;
}

/* Speech Bubble */
/* Speech Animation */
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: bottom top;
    transform-origin: bottom top;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom top;
    transform-origin: bottom top;
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  90% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: bottom top;
    transform-origin: bottom top;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom top;
    transform-origin: bottom top;
  }
}
.speech {
  position: relative;
  top: 3%;
  left: 23%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 20px 30px 20px;
  width: 300px;
  height: 120px;
  background-color: #ffffff;
  font-family: "Aldrich", sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  line-height: 1.5;
  -webkit-animation: pop 0.5s linear 2.5s 1 both;
  animation: pop 0.5s linear 2.5s 1 both;
}

.speech::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 8%;
  border-width: 25px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

#name {
  color: #66c144;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Mascot */
/* Mascot Animation */
@-webkit-keyframes mascot {
  0% {
    top: -1300px;
  }
  50% {
    top: 29px;
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  75% {
    top: 30px;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  100% {
    top: 29px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes mascot {
  0% {
    top: -1300px;
  }
  50% {
    top: 29px;
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  75% {
    top: 30px;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  100% {
    top: 29px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes eyes {
  0% {
    top: -1000px;
  }
  85% {
    top: 200px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  100% {
    top: 200px;
  }
}

@keyframes eyes {
  0% {
    top: -1000px;
  }
  85% {
    top: 200px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  100% {
    top: 200px;
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  10% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  10% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.mascot {
  position: relative;
}

.mascot img {
  position: absolute;
  top: 29px;
  right: 0;
  left: 200px;
  margin: auto;
  width: 33%;
  -webkit-animation: mascot 0.5s cubic-bezier(0.2, 0.3, 0.9, 1) 1.5s backwards;
  animation: mascot 0.5s cubic-bezier(0.2, 0.3, 0.9, 1) 1.5s backwards;
}

.mascot #eyes {
  position: absolute;
  top: 200px;
  left: 110px;
  width: 5.5%;
  z-index: 99;
  -webkit-animation: eyes 0.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 1.5s backwards,
    blink 1.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 3s infinite backwards;
  animation: eyes 0.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 1.5s backwards,
    blink 1.5s cubic-bezier(0.2, 0.3, 0.5, 0.9) 3s infinite backwards;
}

footer {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: center;
  font-family: "Saira", sans-serif;
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
