/* Loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 30px solid transparent;
  border-radius: 70%;
  border-top: 27px solid #66c144;
  -webkit-animation: spin 2s cubic-bezier(0.1, 0.1, 0.2, 1) 1 forwards;
  animation: spin 2s cubic-bezier(0.1, 0.1, 0.2, 1) 1 forwards;
  animation: spin 2s cubic-bezier(0.1, 0.1, 0.2, 1) 1 forwards;
}

#loader::after {
  content: "";
  border-width: 40px;
  border-style: solid;
  border-color: #66c144 transparent transparent transparent;
  position: absolute;
  top: 1%;
  left: 70%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  transform: rotate(-30deg);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add animation for each section */
.logo_ani {
  -webkit-animation: animateLeft;
  animation: animateLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: animateLeft;
  animation-name: animateLeft;
  animation-duration: 0.5s;
}

@-webkit-keyframes animateLeft {
  from {
    left: -100px;
  }
  to {
    left: -1%;
  }
}

@keyframes animateLeft {
  from {
    left: -100px;
  }
  to {
    left: -1%;
  }
}

.question_ani h1 {
  -webkit-animation: animateTop;
  animation: animateTop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: animateTop;
  animation-name: animateTop;
  animation-duration: 1s;
}

@-webkit-keyframes animateTop {
  0% {
    top: 0px;
  }
  100% {
    top: 35%;
  }
}

@keyframes animateTop {
  0% {
    top: 0px;
  }
  100% {
    top: 35%;
  }
}

.input_ani {
  -webkit-animation: animatOp;
  animation: animatOp;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: animateOp;
  animation-name: animateOp;
  animation-duration: 1.2s;
}

@-webkit-keyframes animateOp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateOp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Login Page */
#lbody {
  background-color: #bbe4ac;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

/* container */

/* Logo Position */
#logo {
  position: absolute;
  top: 14.5%;
  right: 0;
  left: -1%;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: none;
}

#logo img {
  width: 450px;
  height: auto;
}

/* Question Styling */
#question {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  display: none;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: #ffffff;
  font-family: "Saira", sans-serif;
}

/* input Styling */
input {
  width: 500px;
  height: 50px;
  border: 10px solid #0c6f40;
  border-radius: 100px;
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 35px 40px;
  font-size: 2.5rem;
  font-family: "Aldrich", sans-serif;
  text-align: center;
  color: #3c423f;
  display: none;
}

/* Button Stylying */
#enter {
  width: 400px;
  height: 150px;
  background-color: #0c6f40;
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 100px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 3px;
  color: #ffffff;
  display: none;
}

#enter:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
  cursor: pointer;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  #logo {
    top: 10%;
  }

  h1 {
    font-size: 3em;
  }

  input {
    width: 400px;
    font-size: 3rem;
  }

  #enter {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  #logo {
    top: 8%;
  }

  h1 {
    font-size: 2.5em;
  }

  input {
    width: 270px;
  }
}

@media only screen and (max-width: 414px) {
  #loader {
    width: 100px;
    height: 100px;
  }

  #logo {
    top: 21%;
  }

  #logo img {
    width: 45%;
  }

  #question {
    top: 38%;
  }

  h1 {
    font-size: 1.6em;
  }

  input {
    width: 150px;
    height: 10px;
    padding: 18px 40px;
    font-size: 1rem;
  }

  #enter {
    width: 250px;
    height: 60px;
    top: 40%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 375px) {
  #loader {
    width: 100px;
    height: 100px;
  }

  #logo {
    top: 17%;
  }

  #logo img {
    width: 50%;
  }

  #question {
    top: 35%;
  }

  h1 {
    font-size: 1.5em;
  }

  input {
    width: 100px;
    height: 0px;
    padding: 25px 40px;
    font-size: 1rem;
  }

  #enter {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  #loader {
    width: 100px;
    height: 100px;
  }

  #logo {
    top: 17%;
  }

  #logo img {
    width: 50%;
  }

  #question {
    top: 35%;
  }

  h1 {
    font-size: 1.5em;
  }

  input {
    width: 100px;
    height: 0px;
    padding: 25px 40px;
    font-size: 1rem;
  }

  #enter {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
  }
}
